<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Howdy World</title>
	<link rel="stylesheet" href="master.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<script src="angular/angular.js"></script>
	<script src="angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
</head>
<body ng-app="myApp">
	
	{{{ body }}}

	<ui-view></ui-view>

</body>
</html>